{% extends "base.html" %}

{% block title %}team directory{% endblock %}

{% block content %}


<table>

{% for transaction in transactions|slice:":100" %}
<tr>
<td><a href="{% url 'transaction_detail' transaction.id %}">{{ transaction.id }}</a></td>
<td>{{ transaction.ttype }}</td>
<td>{{ transaction.date }}</td>
<td><a href="{% url 'person_detail' transaction.person.slug %}">{{ transaction.person }}</a></td>
{% if transaction.team_to %}
<td><a href="{% url 'team_detail' transaction.team_to.slug %}">{{ transaction.team_to }}</a></td>
{% else %}
<td></td>
{% endif %}
</tr>
{% endfor %}
</table>



{% endblock %}
