{% if goal.player %}

<div><a href="{% url 'person_detail' goal.player.slug %}">{{ goal.player }}</a> </div>
{% with assists=goal.assists%}
{% for assist in assists %}
<div class="assist"><a href="{% url 'person_detail' assist.player.slug %}">{{ assist.player }}</a></div>
{% endfor %}
{% endwith %}

{% else %}

{% if goal.own_goal %}

{% if goal.own_goal_player %}
  <div>Own Goal</div>
  <div class="assist"><a href="{% url 'person_detail' goal.own_goal_player.slug %}">{{ goal.own_goal_player }}</a></div>
{% else %}
<div>Own Goal</div>
{% endif %}
    
{% else %}
<div>Unknown</div>
{% endif %}
{% endif %}
