{% extends "base.html" %}

{% block title %}team directory{% endblock %}

{% block content %}

{{ events.count }}

<table>

{% for event in events|slice:":100" %}

<tr>
<td><a href="{% url 'event_detail' event.id %}">{{ event.id }}</a></td>
<td>{{ event.etype }}</td>
<td><a href="{% url 'person_detail' event.subject.slug %}">{{ event.subject }}</a></td>
<td>{{ event.object }}</td>
<td>{{ event.minute }}</td>
<td><a href="{% url 'game_detail' event.game.id %}">{{ event.game.date }}</a></td>
</tr>

{% endfor %}
</table>



{% endblock %}
