{% extends "base.html" %}

{% load games %}
{% load stats %}

{% block title %}{{ bio.name }}{% endblock %}
{% block metadescription %}Bio and career statistics for {{ bio.name }} including game results, goals scored, awards...{% endblock %}

{% block extrahead %}

<script type="text/javascript">
  $(document).ready(function (){
  });
</script>

{% endblock %}



{% block content %}

{% include "bios/helpers/summary.html" %}

<table>
<tr>
  <td>birthplace:</td>
  <td>{{ bio.birthplace.name }}</td>
</tr>
<tr>
  <td>birthdate:</td>
  <td>{{ bio.birthdate }}</td>
</tr>
<tr>
  <td>hometown:</td>
  <td>{{ bio.hometown }}</td>
</tr>
<tr>
  <td>{{ bio.height }} cm</td>
  <td>{{ bio.weight }} kg</td>
</tr>
<tr>

</tr>
</table>


<div tab="stats">

<div tab="team">
{% stats_table team_stats 'player' %}
</div>

<div tab="competition">
{% stats_table competition_stats 'player' %}
</div>

</div>

{% if recent_game_stats %}
<div tab="games">
{% game_stats_table recent_game_stats 'player,games_played,goals' %} 
</div>
{% endif %}

<a href="{% url 'person_games' bio.slug %}">all games</a>


</div>

{% endblock %}
