{% extends "base.html" %}
{# {% load games %} #}
{# {% load stats %} #}

{% block title %}{{ bio.name }}{% endblock %}
{% block metadescription %}Bio and career statistics for {{ bio.name }} including game results, goals scored, awards...{% endblock %}

{% block extrahead %}

<script type="text/javascript">
  $(document).ready(function (){
  });
</script>

{% endblock %}



{% block content %}

{% include "bios/helpers/summary.html" %}

<div id="tab_block">
<ul id="tabs"></ul>
</div>



<div id="tab_wrapper">


{% comment %}

{% if domestic_stats or international_stats %}
<div tab="stats">

<ul id="subtabs"></ul>
<div id="subtab_wrapper">

{% if domestic_stats %}
<div tab="domestic">
{% stats_table domestic_stats 'player' %}
</div>
{% endif %}

{% if international_stats %}
<div tab="international">
{% stats_table international_stats 'player' %}
</div>
{% endif %}

<div tab="team">
{% stats_table team_stats 'player' %}
</div>

<div tab="competition">
{% stats_table competition_stats 'player' %}
</div>

</div>



</div>
{% endif %}


{% if recent_game_stats %}
<div tab="games">
<a href="{% url 'person_detail_games' bio.slug %}">all games</a>

{% include "templatetags/stats/game_list.html" with stats=recent_game_stats %}

{# "templatetags/stats/game_list.html" with stats=recent_game_stats #}
{# {% stats_table recent_game_stats %} #}

</div>
{% endif %}

{% endcomment %}

{% if coach_stats %}

<div tab="coach">

{% include "templatetags/stats/coach.html" with stats=coach_stats %}

</div>

{% endif %}

{% if refs %}
<div tab="referee">
<a href="{% url 'person_detail_referee_games' bio.slug %}">all games refereed</a>
{# {% games_table games 'round,group,referee' %} #}
{% include "templatetags/appearances/ref.html" with games=refs %}
</div>
{% endif %}


{% if bio.awards.exists or picks.exists or bio.salary_set.exists %}
<div tab="info">

<ul id="subtabs2"></ul>
<div id="subtab_wrapper2">



<div tab="summary">

  games: {{ career_stat.games_played }}
  goals: {{ career_stat.goals }}


{% if bio.height or bio.weight %}
<div>height: {% if bio.height %}{{ bio.height }}cm{% endif %}</div>
<div>weight: {% if bio.weight %}{{ bio.weight }}kg{% endif %}</div>
{% endif %}

{% if bio.birthdate %}
<div>birthdate: <a href="{% url 'date_detail' bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate }}</a></div>
<div>age: {{ bio.age_years|floatformat:1 }}</div>
{% endif %}
  
{% if bio.birthplace %}
<div>birthplace: <a href="{% url 'city_detail' bio.birthplace.slug %}">{{ bio.birthplace }}</a></div>
{% endif %}

{% if bio.nationality %}
<div>nationality: {{ bio.nationality }}</div>
{% endif %}

{% if bio.last_game and bio.last_game != bio.first_game %}
<div>first game: <a href="{% url 'game_detail' bio.first_game.id %}">{{ bio.first_game.date }}</a></div>
{% endif %}

{% if bio.last_game and bio.last_game != bio.first_game %}
<div>last game: <a href="{% url 'game_detail' bio.last_game.id %}">{{ bio.last_game.date }}</a></div>
{% endif %}
</div>


{% if bio.awards.exists %}
<div tab="awards">
<table>
{% for award in bio.awards.all %}
<tr>
  {% if award.season %}
  <td><a href="{% url 'season_detail' award.season.competition.slug award.season.slug %}">{{ award.season.name }}</a></td>
  <td><a href="{% url 'competition_detail' award.season.competition.slug %}">{{ award.season.competition.abbreviation }}</a></td>
  {% else %}
  <td class="grey"></td>
  <td class="grey"></td>
  {% endif %}
  <td><a href="{% url 'award_detail' award.award.id %}">{{ award.award.name }}</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}


{% if picks.exists %}
<div tab="drafts">
<table>
{% for pick in picks %}
<tr>
  <td>{{ pick.number }}</td>
  <td><a href="{% url 'team_detail' pick.team.slug %}">{{ pick.team }}</a></td>
  {% if draft.competition %}
  <td><a href="{% url 'draft_detail' pick.draft.competition.slug pick.draft.slug pick.draft.season.name %}">{{ pick.draft }}</a></td>
  {% else %}
  <td><a href="{% url 'draft_detail' pick.draft.competition.slug pick.draft.slug pick.draft.season.name %}">{{ pick.draft.season.name }} {{ pick.draft.name }}</a></td>
  {% endif %}
</tr>
{% endfor %}
</table>
</div>
{% endif %}


{% include "bios/helpers/salary.html" %}

</div>
</div>
{% endif %}

</div>

{% endblock %}
