{% extends "base.html" %}

{% load games %}
{% load stats %}

{% block title %}{{ bio.name }}{% endblock %}
{% block metadescription %}Bio and career statistics for {{ bio.name }} including game results, goals scored, awards...{% endblock %}

{% block extrahead %}

<script type="text/javascript">
  $(document).ready(function (){
  });
</script>

{% endblock %}



{% block content %}

<h2>{{ bio.name }}</h2>

<table>
<tr>
  <td>{{ bio.height }} cm</td>
  <td>{{ bio.weight }} kg</td>
</tr>
<tr>
  <td>birthplace:</td>
  <td>{{ bio.birthplace.name }}</td>
</tr>
<tr>
  <td>birthdate:</td>
  <td>{{ bio.birthdate }}</td>
</tr>
<tr>
  <td>hometown:</td>
  <td>{{ bio.hometown }}</td>
</tr>

</table>

<div>
events

<table>
{% for event in bio.event_committed.all|slice:":10" %}
<tr>
<td><a href="{% url 'event_detail' event.id %}">{{ event.id }}</a></td>
<td>{{ event.etype }}</td>
<td><a href="{% url 'person_detail' event.subject.slug %}">{{ event.subject }}</a></td>
<td>{{ event.minute }}</td>
<td><a href="{% url 'game_detail' event.game.id %}">{{ event.game.date }}</a></td>
</tr>
{% endfor %}
</table>
</div>

<div>
transactions
<table>
{% for transaction in bio.transaction_set.all %}

  <tr>
    <td><a href="{% url 'transaction_detail' transaction.id %}">{{ transaction.id }}</a></td>
    <td>{{ transaction.date }}</td>
    <td>{{ transaction.ttype}}</td>
    <td><a href="{% url 'team_detail' transaction.team_to.slug %}">{{ transaction.team_to }}</a></td>
  </tr>

{% endfor %}
</table>
</div>


<div tab="stats">

<div tab="team">
{% stats_table team_stats 'player' %}
</div>

<div tab="competition">
{% stats_table competition_stats 'player' %}
</div>

</div>

{% if recent_game_stats %}
<div tab="games">
{% game_stats_table recent_game_stats 'player,games_played,goals' %} 
</div>

<a href="{% url 'person_games' bio.slug %}">all games played</a>
{% endif %}


{% if refs %}
<div tab="referee">
{% games_table refs "referee," %}
{# <a href="{% url 'person_detail_referee_games' bio.slug %}">all games refereed</a> #}
</div>
{% endif %}



</div>

{% endblock %}
