{% extends "base.html" %}
{% block title %}player directory{% endblock %}

{% block content %}



<ul>
  {% for letter, stats in name_dict.items %}
  {% if stats.exists %}
  <li>
    <a class="letter_link" href="{% url 'bio_name_fragment' letter %}">{{ letter }}: </a>
    {% for stat in stats %}
    {% if stat.player.hall_of_fame %}<strong>{% endif %}
    <a class="item" href="{% url 'person_detail' stat.player.slug %}">{{ stat.player }}</a>{% if stat.player.hall_of_fame %}
    </strong>{% endif %}
    {% if forloop.last %}<a href="{% url 'bio_name_fragment' letter %}">...</a>{% else %}|{% endif %}
    
    {% endfor %}
  </li>
  {% endif %}
  {% endfor %}
</ul>

<div>
  <strong>bold</strong> indicates the player is a member of the <a href="">US Soccer Hall of Fame.</a>
</div>


{% endblock %}
