{% extends "base.html" %}
{% load datum_or_none %}

{% comment %}
{% load standings %}
{% load games %}
{% load stats %}
{% endcomment %}

{% block title %}{{ team.name }}{% endblock %}
{% block metadescription %}Game results, statistics, awards and more for {{ team.name }}{% endblock %}

{% block content %}

<div id="team_info">

<div id="team_logo"></div>

<div id="team_data">
<div>{{ team.name }}</div>
</div>

{% if team.teamalias_set.exists %}
<p class="small">also known as: 
{% for alias in team.teamalias_set.all %}
{{ alias.name }} ({{ alias.start_text }} to {{ alias.end_text }}) {% if not forloop.last %},{% endif %}
{% endfor %}
</p>
{% endif %}


</div>


<div id="tab_block">
<ul id="tabs"></ul>
</div>


<div id="tab_wrapper">

{% comment %}
<div tab="summary">
</div>
{% endcomment %}

{% comment %}

{% if competition_standings or league_standings %}
<div tab="standings">

{% standings_table competition_standings 'team,season' %}

{% standings_table league_standings 'team' %}

</div>
{% endif %}

{% if game_leaders or goal_leaders %}
<div tab="stats">

<div>
<a href="{% url 'team_stats' team.slug %}">all stats</a>
</div>

{% if game_leaders %}
<div class="col">
<div>game leaders</div>
{% stats_table game_leaders 'team,competition,season' 15 %}
</div>
{% endif %}

{% if goal_leaders %}
<div class="col">
<div>goal leaders</div>
{% stats_table goal_leaders 'team,competition,season' 15 %}
</div>
{% endif %}

</div>
{% endif %}

<div tab="games">
<a href="{% url 'team_games' team.slug %}">all games</a>
{% games_table recent_games %}
</div>

{% endcomment %}

{% endblock %}
