{% extends "base.html" %}
{% load datum_or_none %}
{% block title %}{{ game.date }} {{ game.game_string }}{% endblock %}

{% block content %}

{# {% load games %} #}


<div id="game_block">


<div id="game_top">

  {% comment %}
  <h3>
    {% if game.season_previous_game %}<a href="{% url 'game_detail' game.season_previous_game.id %}">←</a>{% endif %}
    {% if game.season_next_game %}<a href="{% url 'game_detail' game.season_next_game.id %}">→</a>{% endif %}
  </h3>
  {% endcomment %}


    <a href="{% url 'competition_detail' game.competition.slug %}">{{ game.competition }}</a> - <a href="{% url 'season_detail' game.competition.slug game.season.slug %}">{{ game.season.name }}</a>

    {% if game.date %}<a href="{% url 'date_detail' game.date.year game.date.month game.date.day %}">{{ game.date|date:"l, F d, Y" }}</a>{% endif %}

    {% if game.stadium.slug %}
    <a href="{% url 'stadium_detail' game.stadium.slug %}">
      {% if game.stadium.short_name %}{{ game.stadium.short_name }}{% else %}{{ game.stadium.name }}{% endif %}
    </a>
    {% else %}
    {% if game.location %}{{ game.location }}{% endif %}
    {% endif %}

</div>


<div id="game_middle">

  <div id="game_details">
    <ul>
  {% if game.group %}
    <li>group {{ game.group }}</li>
  {% endif %}

  {% if game.round %}
    <li>round {{ game.round }}</li>
  {% endif %}

    {% if game.referee %}
    <li>referre:<a href="{% url 'person_detail' game.referee.slug %}">{{ game.referee }}</a></li>
    {% endif %}

    {% if game.attendance %}
    <li>attendance: {{ game.attendance }}</li>
    {% endif %}
    </ul>
  </div>


{% include "games/tags/score.html" %}
    
</div>

{% include "games/tags/result.html" %}

<div tab="detail" id="game-data">

{% comment %}

{% if game.video %}
<h4 class="headboard">media</h4>
<div id="game-media">
{% include "templatetags/embed.html" with video=game.video %}
</div>
{% endif %}

{% if game.notes %}
<h4 class="headboard">notes</h4>
<p>{{ game.notes }}</p>
{% endif %}

{% endcomment %}

</div>



{% comment %}

{% if game.series.count > 1 %}
<div tab="series">
<h3>series</h3>
{# {% games_table game.series 'referee,attendance' %} #}
</div>
{% endif %}

{% if game.same_day_games %}
<div tab="scoreboard">
<h3>scoreboard</h3>
{# {% games_table game.same_day_games 'date,referee,attendance' %} #}
</div>
{% endif %}

{% endcomment %}


</div>

{% endblock %}



