{% extends "base.html" %}
{% load datum_or_none %}
{% block title %}{{ game.date }} {{ game.game_string }}{% endblock %}

{% block content %}

{# {% load games %} #}

{% load staticfiles %}


<div id="game_block">



<div id="game_top">

  <div id="left_side">

  {% comment %}
  <h3>
    {% if game.season_previous_game %}<a href="{% url 'game_detail' game.season_previous_game.id %}">←</a>{% endif %}
    {% if game.season_next_game %}<a href="{% url 'game_detail' game.season_next_game.id %}">→</a>{% endif %}
  </h3>
  {% endcomment %}

  <a href="{% url 'season_detail' game.competition.slug game.season.slug %}">{{ game.season.name }}</a>
  <a href="{% url 'competition_detail' game.competition.slug %}">{{ game.competition }}</a> 

  {% if game.group %}
    Group {{ game.group }}
  {% endif %}

  {% if game.round %}
    round {{ game.round }}
  {% endif %}



  </div>

  <div id="right_side">
    {% comment %}
    {% if game.stadium.slug %}
    <a href="{% url 'stadium_detail' game.stadium.slug %}">
      {% if game.stadium.short_name %}{{ game.stadium.short_name }}{% else %}{{ game.stadium.name }}{% endif %}
    </a>
    {% else %}
    {% if game.location %}{{ game.location }}{% endif %}
    {% endif %}
    {% endcomment %}


    {% if game.date %}<a href="{% url 'date_detail' game.date.year game.date.month game.date.day %}">{{ game.date|date:"l, F d, Y" }}</a>{% endif %}
    at
    {% if game.stadium.short_name %}{{ game.stadium.short_name }}{% else %}{{ game.stadium.name }}{% endif %}
  </div>

</div>


<div id="game_middle">


  <div id="game_details">


    <ul>

    {% if game.attendance %}
    <li>attendance: <span class="large">{{ game.attendance }}</span></li>
    {% endif %}

    {% if game.referee %}
    <li>referee:<a href="{% url 'person_detail' game.referee.slug %}">{{ game.referee }}</a></li>
    {% if game.linesman1 %}
    <li>assistants: 
      <div class="small">
	<ul>
	  <li>{{ game.linesman1 }}</li>
	  {% if game.linesman2 %}<li>{{ game.linesman2 }}</li>{% endif %}
	  {% if game.linesman3 %}<li>{{ game.linesman3 }}</li>{% endif %}
	</ul>
      </div>
      {% endif %}
    {% endif %}


    </ul>
  </div>


{% include "games/tags/score.html" %}
    
</div>

{% include "games/tags/result.html" %}

<div tab="detail" id="game-data">


  <img height="30" width="30" src="{% static 'icons/goal.png' %}" />
  <img height="30" width="30" src="{% static 'icons/substitution.png' %}" />
  <img height="30" width="30" src="{% static 'icons/yellow_card.png' %}" />
  <img height="30" width="30" src="{% static 'icons/red_card.png' %}" />



{% comment %}

{% if game.video %}
<h4 class="headboard">media</h4>
<div id="game-media">
{% include "templatetags/embed.html" with video=game.video %}
</div>
{% endif %}

{% if game.notes %}
<h4 class="headboard">notes</h4>
<p>{{ game.notes }}</p>
{% endif %}

{% endcomment %}

</div>



{% comment %}

{% if game.series.count > 1 %}
<div tab="series">
<h3>series</h3>
{# {% games_table game.series 'referee,attendance' %} #}
</div>
{% endif %}

{% if game.same_day_games %}
<div tab="scoreboard">
<h3>scoreboard</h3>
{# {% games_table game.same_day_games 'date,referee,attendance' %} #}
</div>
{% endif %}

{% endcomment %}


</div>

{% endblock %}



