{% extends "base.html" %}

{% load staticfiles %}

{% block title %}homepage{% endblock %}


{% block content %}


<table id="homepage_games">
{% for game in games %}
<tr>
  <td>{{ game.date}}</td>
  <td><a href="{% url 'team_detail' game.team1.slug %}">{{ game.team1 }}</a></td>
  <td><a href="{% url 'game_detail' game.id %}">{{ game.result_string }}</a></td>
  <td><a href="{% url 'team_detail' game.team2.slug %}">{{ game.team2 }}</a></td>
  <td>{{ game.stadium }}</td>
</tr>
{% endfor %}
</table>

<div>


<p><a href="{% url 'competition_detail' 'major-league-soccer' %}">Major League Soccer</a></p>

<!--<a href="{% url 'team_games' 'united-states' %}">ALL USMNT GAMES</a>-->

</div>




{% endblock %}
