{% extends "base.html" %}
{% load datum_or_none %}


{% load games %}

{% block title %}{{ competition.name }} Soccer History {% endblock %}
{% block metadescription %}Standings, results, player statistics, and awards for the {{ competition.name }}{% endblock %}

{% block content %}

<div id="competition_block">

  <h3>{{ competition.name }}</h3>

  {% if competition.after.exists %}
  <p>preceded by {% for item in competition.after.all %}<a href="{% url 'competition_detail' item.before.slug %}">{{ item.before }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  {% endif %}

  {% if competition.before.exists %}
  <p>followed by {% for item in competition.before.all %}<a href="{% url 'competition_detail' item.after.slug %}">{{ item.after }}</a>{% endfor %}</p>
  {% endif %}

<p>teams: </p>

{% games_table competition.game_set.all %}

</div>


{% endblock %}
