{% extends "base.html" %}

{% load datum_or_none %}

{% block content %}

<div id="control-bar">

<form method="GET" action=".">

{% csrf_token %}

{{ form.as_table }}

<input type="submit" value="submit" />

</form>
</div>

<table id="competition_index">
  <thead>
  <tr>
    <th>competition</th>
    <th>code</th>
    {% comment %}<th>international</th>{% endcomment %}
    <th>level</th>
    <th>type</th>
    <th>scope</th>
    <th>region</th>
    <th>seasons</th>
    <th>first</th>
    <th>last</th>
  </tr>
  </thead>

  {% for competition in competitions %}

  {% if competition.season_set.exists %}
  <tr>
    <td><a href="{% url 'competition_detail' competition.slug %}">{{ competition.name }}</a></td>
    <td>{{ competition.code }}</td>
    {% comment %}<td>{{ competition.international }}</td>{% endcomment %}
    {% datum_or_grey competition.level %}
    <td>{{ competition.ctype }}</td>
    <td>{{ competition.scope }}</td>
    <td>{{ competition.area }}</td>
    <td>{{ competition.season_set.count }}</td>
    {% if competition.first_season %}
    <td><a href="{% url 'season_detail' competition.slug competition.first_season.slug %}">{{ competition.first_season.name }}</td>
    {% else %}
    <td></td>
    {% endif %}

    {% if competition.last_season %}
    <td><a href="{% url 'season_detail' competition.slug competition.last_season.slug %}">{{ competition.last_season.name }}</td>
    {% else %}
    <td></td>
    {% endif %}

    {% comment %}
    <td>
      <select>
      {% for season in competition.season_set.all %}
      <option ref="{% url 'season_detail' competition.slug season.slug %}">{{ season.name }}</option>
      {% endfor %}
      </select>
    </td>
    {% endcomment %}

  </tr>
  {% endif %}
  {% endfor %}

</table>
  
{% endblock %}
