{% extends "base.html" %}
{% block title %}{{ city }}{% endblock %}

{% load datum_or_none %}

{% block content %}

<div id="city_block">

<h3>{{ city.name }}{% if city.state %}, <a href="{% url 'state_detail' city.state.slug %}">{{ city.state.abbreviation }}</a>{% endif %}{% if city.country %}, <a href="{% url 'country_detail' city.country.slug %}">{{ city.country.name }}</a>{% endif %}</h3>

</div>


<div id="tab_block">
<ul id="tabs"></ul>
</div>

<div id="tab_wrapper">


{% if city.stadium_set.exists %}
<div tab="stadiums">
<table>
<tr>
  <th>name</th>
  <th>opened</th>
  <th>capacity</th>
  <th>cost</th>
  <th>games</th>
  <th>attendance</th>
</tr>
{% for stadium in stadiums %}
<tr>
  <td><a href="{% url 'stadium_detail' stadium.slug %}">{{ stadium }}</a></td>
  {% if stadium.opened %}
  <td><a href="{% url 'date_detail' stadium.opened.year stadium.opened.month stadium.opened.day %}">{{ stadium.opened }}</a></td>
  {% else %}
  <td></td>
  {% endif %}
  
  {% datum_or_grey stadium.capacity %}
  {% datum_or_grey stadium.cost %}
  <td>{{ stadium.game_count }}</td>
  {% if stadium.total_attendance %}
  <td>{{ stadium.total_attendance }}</td>
  {% else %}
  <td></td>
  {% endif %}
</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% if city.birth_set.exists %}
{# {% include "templatetags/lists/born.html" %}  #}
{% endif %}

{% if teams %}
<div tab="teams">
  <table>
    {% for team in teams %}
    <tr>
      <td><a href="{% url 'team_detail' team.slug %}">{{ team }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}


{% if games %}
<div tab="games">
{# {% include "templatetags/games.html" %} #}
</div>
{% endif %}

</div>


{% endblock %}
