{% load datum_or_none %}

{% if stats %}




<table class="gamestats">

<thead>
  <tr>
    <th>date</th>
    {% if 'player' not in exclude %}<th></th>{% endif %}
    {% if 'team' not in exclude %}<th></th>{% endif %}
    {% if 'competition' not in exclude %}<th></th>{% endif %}
    {% if 'season' not in exclude %}<th></th>{% endif %}
    {% if has_games_started %}<th title="games started">gs</th>{% endif %}
    {% if has_minutes %}<th title="minutes">min</th>{% endif %}

    {% if has_assists %}<th title="assists">a</th>{% endif %}
    {% if has_shots %}<th title="shots">sh</th>{% endif %}

    {% comment %}
    <th>w</th>
    <th>t</th>
    <th>l</th>

    <th>gf</th>
    <th>ga</th>
    <th>+-</th>
    <th>+-/90</th>
    <th>ga/90</th>
    {% endcomment %}

    <th></th>
    <th>v</th>
    <th title="goals">g</th>



  </tr>
</thead>



<tbody>
{% for stat in stats %}
<tr>

  <td><a>{{ stat.game.date }}</a></td>

  {% if 'player' not in exclude %}
  {% if stat.player.slug %}
  <td><a href="{% url 'person_detail' stat.player.slug %}">{{ stat.player }}</a></td>
  {% else %}<td></td>{% endif %}{% endif %}

  {% if 'team' not in exclude %}
  {% if stat.team.slug %}
  <td><a href="{% url 'team_detail' stat.team.slug %}">{{ stat.team }}</a></td>
  {% else %}<td></td>{% endif %}{% endif %}

  {% if 'competition' not in exclude %}
  {% if stat.competition.slug %}
  <td class="bg-{{ stat.competition.code }}-{{ stat.competition.level }}">
  <a title="{{ stat.competition.name }}" href="{% url 'competition_detail' stat.competition.slug %}">{{ stat.competition.abbreviation }}</a>
  </td>
  {% else %}
  <td>{{ stat.competition.abbreviation }}</td>
  {% endif %}
  {% endif %}

  {% if 'season' not in exclude %}
  {% if stat.season.slug %}
  <td><a href="{% url 'season_detail' stat.competition.slug stat.season.slug %}">{{ stat.season.name }}</a></td>
  {% else %}
  <td>{{ stat.season.name }}</td>
  {% endif %}
  {% endif %}

  
  {% if has_games_started %}{% datum_or_grey stat.games_started %}{% endif %}
  {% if has_minutes %}{% datum_or_grey stat.minutes %}{% endif %}

  {% if has_assists %}{% datum_or_grey stat.assists %}{% endif %}
  {% if has_shots %}{% datum_or_grey stat.shots %}{% endif %}

  
  <td><a href="{% url 'game_detail' stat.game.id %}">{{ stat.score_or_result }}</a></td>
  <td><a href="{% url 'team_detail' stat.opponent.slug %}">{{ stat.opponent }}</a></td>

  {% datum_or_grey stat.goals %}

</tr>
{% endfor %}
</tbody>

</table>


{% endif %}
