{% extends "base.html" %}

{% block title %}{{ season.competition.name }} {{ season.name }} Season Summary {% endblock %}
{% block metadescription %}Season details, standings, results, and statistics for the {{season.name }} season of the {{ season.competition.name }}{% endblock %}

{% block extrahead %}

{# {% load standings %} #}
{% load stats %}
{% load games %}


<script type="text/javascript">
  $(document).ready(function (){
  });
</script>

{% endblock %}

{% block content %}

<p>

{% stats_table stats 'competition,season,games_started,goals,assists,shots' %}

</p>

{% endblock %}
