{% extends "base.html" %}
{% load standings %}
{% load games %}
{% load stats %}

{% if date %}
{% block title %}US Soccer Results and Standings for {{ date }}{% endblock %}
{% endif %}

{% block extrahead %}

{% comment %}
<script>
(function() {

  $(document).ready(function() {


var width = 960,
    height = 136,
    cellSize = 17; // cell size

var day = d3.time.format("%w"),
    week = d3.time.format("%U"),
    percent = d3.format(".1%"),
    format = d3.time.format("%Y-%m-%d");

var color = d3.scale.quantize()
    .domain([-.05, .05])
    .range(d3.range(11).map(function(d) { return "q" + d + "-11"; }));

var svg = d3.select("#calendar").selectAll("svg")
    .data(d3.range(1990, 2011))
  .enter().append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("class", "RdYlGn")
  .append("g")
    .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (height - cellSize * 7 - 1) + ")");

svg.append("text")
    .attr("transform", "translate(-6," + cellSize * 3.5 + ")rotate(-90)")
    .style("text-anchor", "middle")
    .text(function(d) { return d; });

var rect = svg.selectAll(".day")
    .data(function(d) { return d3.time.days(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
  .enter().append("rect")
    .attr("class", "day")
    .attr("width", cellSize)
    .attr("height", cellSize)
    .attr("x", function(d) { return week(d) * cellSize; })
    .attr("y", function(d) { return day(d) * cellSize; })
    .datum(format);

rect.append("title")
    .text(function(d) { return d; });

svg.selectAll(".month")
    .data(function(d) { return d3.time.months(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
  .enter().append("path")
    .attr("class", "month")
    .attr("d", monthPath);

d3.csv("dji.csv", function(error, csv) {
  var data = d3.nest()
    .key(function(d) { return d.Date; })
    .rollup(function(d) { return (d[0].Close - d[0].Open) / d[0].Open; })
    .map(csv);

  rect.filter(function(d) { return d in data; })
      .attr("class", function(d) { return "day " + color(data[d]); })
    .select("title")
      .text(function(d) { return d + ": " + percent(data[d]); });
});

function monthPath(t0) {
  var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
      d0 = +day(t0), w0 = +week(t0),
      d1 = +day(t1), w1 = +week(t1);
  return "M" + (w0 + 1) * cellSize + "," + d0 * cellSize
      + "H" + w0 * cellSize + "V" + 7 * cellSize
      + "H" + w1 * cellSize + "V" + (d1 + 1) * cellSize
      + "H" + (w1 + 1) * cellSize + "V" + 0
      + "H" + (w0 + 1) * cellSize + "Z";
}

d3.select(self.frameElement).style("height", "2910px");


  });
}).call(this);
</script>
{% endcomment %}

{% endblock %}

{% block content %}

<div id="date_block">

<div class="white-title center">
{% if date %}

{% if previous_date %}<a href="{% url 'date_detail' previous_date.0 previous_date.1 previous_date.2 %}">-</a>{% endif %}
<span id="specific_date">{{ date }}</span>
{% if next_date %}<a href="{% url 'date_detail' next_date.0 next_date.1 next_date.2 %}">+</a>{% endif %}

{% else %}

{% if previous_day %}
<div id="date_nav">
<a href="{% url 'day_detail' previous_day.month previous_day.day %}">←</a>
<div id="specific_date">{{ day_string }}</div>
<a href="{% url 'day_detail' next_day.month next_day.day %}">→</a>
</div>

{% endif %}
{% endif %}
</div>

</div>

<div id="tab_block">
<ul id="tabs"></ul>
</div>

<div id="tab_wrapper">



{% if games %}
<div tab="games">

{% games_table games %}

</div>
{% endif %}

{% comment %}
<div id="calendar" tab="calendar">
</div>
{% endcomment %}


{% if standings %}
<div tab="standings">
{% standings_table standings %}
</div>
{% endif %}


{% if stats %}
<div tab="stats">
{% stats_table stats %}
</div>
{% endif %}


{% if news %}
<div tab="news">

<table>
{% for item in news %}
<tr>
  <td>{{ item.time }}</td>
  <td><a title="{{ item.title }}" href="{{ item.url }}">{{ item.title|truncatechars:80 }}</a></td>
  
  <td><a href="{% url 'source_detail' item.source.id %}">{{ item.source }}</a></td>
</tr>

{% endfor %}
</table>

</div>
{% endif %}



{% if births.exists %}
<div tab="births">


<table>

  <thead>
    <tr>
      <th>name</th>
      <th>bdate</th>
      <th>bplace</th>
    </tr>
  </thead>


{% for bio in births %}
<tr>
  <td><a href="{% url 'person_detail' bio.slug %}">{{ bio.name }}</a></td>
  <td><a href="{% url 'date_detail' bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate }}</a></td>
  {% if bio.birthplace.slug %}
  <td><a href="{% url 'city_detail' bio.birthplace.slug %}">{{ bio.birthplace }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% if deaths.exists %}
<div tab="deathss">
<table>
{% for bio in deaths %}
<tr>
  <td><a href="{% url 'person_detail' bio.slug %}">{{ bio.name }}</a></td>
  <td><a href="{% url 'date_detail' bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate }}</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}


{% if hires.exists or fires.exists %}
<div tab="transactions">

<table>
{% for position in hires %}
<tr>
  <td><a href="{% url 'person_detail' position.person.slug %}">{{ position.person.name }}</a></td>
  <td><a href="{% url 'team_detail' position.team.slug %}">{{ position.team }}</a></td>
  <td><a href="{% url 'position_detail' position.slug %}">{{ position.name }}</a></td>
  <td>{{ position.start }}</td>
  <td>{{ position.end }}</td>
</tr>
{% endfor %}
</table>



<table>
{% for position in fires %}
<tr>
  <td><a href="{% url 'person_detail' position.person.slug %}">{{ position.person.name }}</a></td>
  <td><a href="{% url 'team_detail' position.team.slug %}">{{ position.team }}</a></td>
  <td><a href="{% url 'position_detail' position.slug %}">{{ position.name }}</a></td>
  <td>{{ position.start }}</td>
  <td>{{ position.end }}</td>
</tr>
{% endfor %}
</table>

</div>
{% endif %}


</div>

{% endblock %}
